@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Mukta:wght@300&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
  box-sizing: border-box;
}
/* --------- styling of navbar---------------- */
.nav-link {
  color: white;
  font-size: 15px;
  margin-left: 2rem;
}

/* -----styling of form.html page  ---------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
label {
  font-weight: bold;
  color: #34da9a;
  font-size: 1.6rem;
}
.fa-chart-bar {
  margin: 0 1rem 0 1rem;
  color: rgb(206, 76, 76);
}
.fa-chart-line {
  font-size: 4rem;
  padding-right: 2rem;
  color: rgb(206, 76, 76);
  box-sizing: border-box;
}
h1 {
  color: #34da9a;
}

.control {
  height: 3.5rem;
  background: none;
  border: 1px solid #5352ed;
  color: rgb(122, 122, 122);
  border-radius: 5px;
  font-size: 1.7rem;
}
.control:hover {
  background-color: #272a39;
  border: 1px solid #a24e70;
  color: white;
}
.number-input {
  height: 3.5rem;
  background: none;
  border: 1px solid #5352ed;
  color: rgb(119, 119, 119);
  border-radius: 5px;
}
.bottom_message {
  padding-top: 2rem;
}
.bottom_subtitle {
  padding-top: 2rem;
  color: rgb(97, 97, 97);
}
.fa-bolt {
  color: rgb(206, 76, 76);
}
span {
  letter-spacing: 0.2rem;
  color: #34da9a;
}
.setalert-btn {
  padding: 1rem 4rem;
  margin-top: 1rem;
  background: none;
  border-radius: 5px;
  border: 2px solid #34da9a;
  color: rgb(253, 129, 129);
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: none;
}
.darkmode-btn {
  color: rgb(221, 221, 221);
  margin: 2rem 0 1rem 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  transform: rotate(-11deg);
}

/*----- styling  of index.html page  ----*/
.body-title h2 {
  color: black;
  margin-top: 10rem;
  margin-bottom: 10px;
}
.crypto_image img {
  width: 88%;
  margin-top: 5rem;
}
.body-subtitle {
  letter-spacing: 1px;
  margin-bottom: 5rem;
  font-family: monospace;
  color: rgb(136, 136, 136);
  font-weight: bold;
}

.home .body_button {
  padding: 1rem 2rem 4rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border: 2px solid #fa8072;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.body_button a {
  color: #fa8072;
}
.home .body_button:hover {
  background-color: transparent;

  box-shadow: 2px 2px 2px rgb(85, 84, 84);
}

svg {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .home  */
.crypto-prices {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 7rem;
}

/* ------------------ Styling of pricing.html page--------------------- */

.pricing .green {
  text-align: center;
  color: #8c86ff;
  font-size: 4.5rem;
  letter-spacing: 1px;
}
.pricing .red {
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.8rem;
  color: #fa8072;
}
.pricing .blue-border {
  border: 2px solid #8c86ff !important;
}
.pricing .card {
  border: 2px solid #34da9a;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pricing .card-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.pricing .plan-price {
  text-align: center;
  font-size: 5rem;
}
.pricing .price-discount {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}
.pricing .list-items {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}
.pricing .list-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(110, 109, 109);
}
.pricing .chechmark {
  margin-right: 12px;
  width: 2rem;
  margin-top: 2px;
}
.pricing .list-header {
  font-size: 1.6rem;
}
.pricing .card-renderbutton {
  margin-top: 5rem;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #dff1ff;
  padding: 1rem 0 1rem 0;
  font-size: 1.7rem;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pricing .arrow-text:hover {
  color: rgb(78, 199, 246);
}

/* mobile responsive css */

/* -------------mobile responsive navbar styling----------  */

@media only screen and (max-width: 700px) {
  .nav-link {
    color: black;
  }
}

/* index.html page mobile responsive  */
@media only screen and (max-width: 500px) {
  .home .body-title h2 {
    font-size: 2.7rem;
    text-align: center;
  }
  .home .body-subtitle {
    font-size: 1rem;
    text-align: center;
  }
  .home .body_button {
    margin-left: 5rem;
  }
  svg {
    display: none;
  }
  .crypto_image img {
    margin-left: 2rem;
  }
  .crypto-prices .livecoinwatch {
    background-color: rgb(53, 53, 53) !important;
    -webkit-mask-image: none !important;
    border-radius: 0px !important;
    margin-left: 0px !important;
  }
  .second-card {
    margin-bottom: 9rem;
  }
}
