@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Mukta:wght@300&family=Roboto+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
  box-sizing: border-box;
}
body {
  /* background: #272a39; */
  background: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
label {
  font-weight: bold;
  color: #34da9a;
  font-size: 1.6rem;
}
.fa-chart-bar {
  margin: 0 1rem 0 1rem;
  color: rgb(206, 76, 76);
}
.fa-chart-line {
  font-size: 4rem;
  padding-right: 2rem;
  color: rgb(206, 76, 76);
  box-sizing: border-box;
}
h1 {
  color: #34da9a;
}
/* .card { */
/* dark color */
/* background-color: #35374271; */

/* light color */
/* background-color: white; */
/* } */
.control {
  height: 3.5rem;
  background: none;
  /* border: 1px solid #a24e70; */
  border: 1px solid #5352ed;
  color: rgb(122, 122, 122);
  border-radius: 5px;
  font-size: 1.7rem;
}
.control:hover {
  background-color: #272a39;
  border: 1px solid #a24e70;
  color: white;
}
.number-input {
  height: 3.5rem;
  background: none;
  /* border: 1px solid #a24e70; */
  border: 1px solid #5352ed;

  color: rgb(119, 119, 119);
  border-radius: 5px;
}
.bottom_message {
  padding-top: 2rem;
}
.bottom_subtitle {
  padding-top: 2rem;
  color: rgb(97, 97, 97);
}
.fa-bolt {
  color: rgb(206, 76, 76);
}
span {
  letter-spacing: 0.2rem;
  color: #34da9a;
}
.setalert-btn {
  padding: 1rem 4rem;
  margin-top: 1rem;
  background: none;
  border-radius: 5px;
  border: 2px solid #34da9a;
  color: rgb(253, 129, 129);
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: none;
}
.darkmode-btn {
  color: rgb(221, 221, 221);
  margin: 2rem 0 1rem 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  transform: rotate(-11deg);
}

/* styling  of home.html page  */
.body-title h2 {
  color: black;
  margin-top: 10rem;
  margin-bottom: 10px;
}
.crypto_image img {
  width: 88%;
  margin-top: 5rem;
}
.body-subtitle {
  letter-spacing: 1px;
  margin-bottom: 5rem;
  font-family: monospace;
  color: rgb(136, 136, 136);
  font-weight: bold;
}

.home .body_button {
  padding: 1rem 2rem 4rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border: 2px solid #34da9a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.home .body_button:hover {
  background-color: transparent;
  border: 2px solid #34da9a;
  box-shadow: 2px 2px 2px rgb(85, 84, 84);
}

svg {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.home .crypto-prices {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
/* mobile responsive */

@media only screen and (max-width: 500px) {
  .home .body-title h2 {
    font-size: 2.7rem;
    text-align: center;
  }
  .home .body-subtitle {
    font-size: 1rem;
    text-align: center;
  }
  .home .body_button {
    margin-left: 9rem;
  }
  svg {
    display: none;
  }
  .crypto_image img {
    margin-left: 2rem;
  }
  .crypto-prices .livecoinwatch {
    background-color: rgb(27, 27, 27) !important;
    -webkit-mask-image: none !important;
  }
}
